html {
  font-family: system-ui;
}

body {
  background-image: url(../img/Fondo-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.logo {
  padding: 5px 20px 0;
  height: auto;
  max-height: 150px;
}

#navegacion {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

#Contenido {
  margin-top: 220px;
  width: 100%;
  max-width: 1300px;
}

.card {
  margin-bottom: 10px;
  width: 30%;
  margin-right: 1%;
}

#Carrito {
  margin: 0% auto;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  padding: 9px;
  max-height: 621px;
  overflow-y: auto;
}

#boton-pagar a {
  text-decoration: none;
  color: white;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 7px;
}

@media (max-width: 1024px) {
  .column-6 {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    width: 40%;
    margin-left: 3%;
  }
}

@media (max-width: 768px) {
  .column-6 {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    width: 90%;
    margin-left: 3%;
  }
}

@media (max-width: 480px) {
  .column-6 {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    width: 100%;
    margin-left: 3%;
  }
}
