html {
  font-family: system-ui;
}

body {
  background-image: url(../img/Fondo-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.logo {
  float: left;
  padding: 5px 2%;
  height: 150px;
}

#navegacion {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

#products {
  background-color: rgb(245 245 245);
  position: absolute;
  top: 160px;
  width: 100%;
  padding: 20px;
  font-size: 2em;
  font-weight: 600;
}

#Contenido {
  margin-top: 270px;
  width: 100%;
  max-width: 1300px;
}

.card {
  margin-bottom: 10px;
  width: 30%;
  margin-right: 1%;
}

.btn {
  font-weight: 600 !important;
}

#Carrito {
  margin: 0% auto;
  margin-bottom: 10px;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  padding: 9px;
  overflow-y: auto;
}

.borrar {
  margin: 1em !important;
  margin-left: 0 !important;
  font: -webkit-small-control;
  display: flex;
}

#boton-pagar a {
  text-decoration: none;
  color: white;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 7px;
}

@media (max-width: 1315px) {
  .card {
    margin-left: 1%;
  }
}

@media (max-width: 1056px) {
  .column-6 {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    width: 45% !important;
    margin-left: 3%;
  }
}

@media (max-width: 768px) {
  .column-6 {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    margin-left: 4%;
  }
}

@media (max-width: 700px) {
  .card {
    margin-left: 6%;
    width: 90% !important;
  }
}

@media (max-width: 575px) {
  .column-6 {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    margin-left: 6.5%;
    margin-bottom: 1em;
    width: 42% !important;
  }

  #Carrito {
    width: 97%;
    margin-top: 30px;
  }
}

@media (max-width: 450px) {
  .column-6 {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    margin-left: 5%;
    width: 95% !important;
  }
}

@media (max-width: 400px) {
  .card {
    margin-left: 6%;
  }
}
